{% extends 'base.html' %}
{% block content %}
<h1>Login</h1>
<!-- A form to login with -->
<!-- POST to the LOGIN route this is set by the action value -->
<form action="/login" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" required maxlength="15">
    <label for="password">Password</label>
    <input type="password" name="password" required maxlength="15">
    <button type="submit">Login</button>

    <button type="submit">Login</button>
    <p>Don't have an account? <a href="/signup">Sign up here</a></p>
</form>
{% endblock %}