{% extends 'base.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        {% if member %}
            <h1>NAME: {{ member[2] }}</h1>
            
            <p>AGE: {{ member[3] }}</p>
            
            <p>BLOODTYPE: {{ member[5] }}</p>
            
            <p> GROUP POSITION: {{ member[4] }}</p>

            <p>DESCRIPTION: {{ member[6] }}</p>
            
            <hr>
            <!-- form to handle adding this specific member to the cart -->
            <form action="/add_to_inventory/{{ member[0] }}" method="post">
                <div class="add_to_inventory_button">
                    <button type="submit" >Add to Inventory</button>
                </div>
                </button>
            </form>
        {% else %}
            <h1>Product not found.</h1>
        {% endif %}

        <br><br>
        <a href="/profile">go back</a>
    </div>
    
</body>
</html>

{% endblock %}