<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        {% if member %}
            <h1>NAME: {{ member[1] }}</h1>
            
            <p>AGE: {{ member[2] }}</p>
            
            <p>BLOODTYPE: {{ member[3] }}</p>
            
            <p> GROUP POSITION: {{ member[4] }}</p>

            <p>DESCRIPTION: {{ member[5] }}</p>
            

        <br><br>
        <a href="/profile">go back</a>
    </div>
    
</body>
</html>