{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>profile page</title>
</head>

<body>

       
        
        <h2>Member Profile</h2>
        <div class="profile-grid">
        <!-- 1. JAEHYUN -->
            <div class="member-card">
                <a href="{{ url_for('product', member_id=3) }}" class="card-link">
                    <div class="card-image-container">
                        <img src="{{ url_for('static', filename='images/jaehyunprofile.webp') }}" alt="jaehyun profile">
                        <div class="hover-overlay">
                            <span>LEARN MORE ▶</span>
                        </div>
                    </div>
                    <div class="name-box">
                        <h3>JAEHYUN</h3>
                    </div>
                </a>
            </div>

            <a href="{{ url_for('product', member_id=1) }}">
                <div class="sungho-card">
                    <img src="{{ url_for('static', filename='images/sunghoprofile.webp') }}" width ="150"  alt="sungho profile">
                    <p>SUNGHO</p>
                </div>
            </a>

            <a href="{{ url_for('product', member_id=2) }}">
                <div class="riwoo-card">
                    <img src="{{ url_for('static', filename='images/riwooprofile.webp') }}" width ="150"  alt="riwoo profile">
                    <p>RIWOO</p>
                </div>
            </a>

            <a href="{{ url_for('product', member_id=4) }}">
                <div class="taesan-card">
                    <img src="{{ url_for('static', filename='images/taesanprofile.webp') }}" width ="150"  alt="taesan profile">
                    <p>TAESAN</p>
                </div>
            </a>

            <a href="{{ url_for('product', member_id=5) }}">
                <div class="leehan-card">
                    <img src="{{ url_for('static', filename='images/leehanprofile.webp') }}" width ="150"  alt="leehan profile">
                    <p>LEEHAN</p>
                </div>
            </a>

            <a href="{{ url_for('product', member_id=6) }}">
                <div class="woonhak-card">
                    <img src="{{ url_for('static', filename='images/woonhakprofile.webp') }}" width ="150"  alt="woonhak profile">
                    <p>WOONHAK</p>
                </div>
            </a>
     

</body>
</html>

{% endblock %}